<style>
  .ni-mcit-t-05 { display: flex; flex-direction: column; gap: 25px; }
  .id_certificate { position: absolute; top: 8.6in; z-index: 100; }

  .equipment-information { display: flex; justify-content: space-between;
  margin-top: 20px; } .equipment-information div { width: 50%; display: flex;
  flex-direction: column; gap: 5px; } .equipment-information .labels {
  font-weight: bold; } table { border-collapse: collapse; width: 100%; } th, td
  { border: 1px solid #dddddd; text-align: center; } .table-title
  { border: 1px solid #dddddd; text-align: center; } .enviromental-conditions {
  display: flex; justify-content: space-between; } .enviromental-conditions div
  { display: flex; flex-direction: column; gap: 10px; }
</style>

<div class='ni-mcit-t-05'>
  <div class='equipment-information'>
    <div class='labels'>
      <span>Identificación del certificado:</span>
      <span>Código de servicio:</span>
      <span>Fecha de calibración:</span>
      <span>Fecha de emisión de certificado:</span>
      <span>Objeto de calibración:</span>
      <span>Fabricante/Marca:</span>
      <span>Serie:</span>
      <span>Modelo:</span>
      <span>Rango de medida:</span>
      <span>Resolución:</span>
      <span>Código de identificación:</span>
      <span>Solicitante:</span>
      <span>Dirección del solicitante:</span>
      <span>Lugar de calibración:</span>
    </div>
    <div class='values'>
      <span
        style='font-weight: bold'
      >{{equipment_information.certification_code}}</span>
      <span>{{equipment_information.service_code}}</span>
      <span>{{equipment_information.calibration_date}}</span>
      <span>{{equipment_information.certificate_issue_date}}</span>
      <span>{{equipment_information.device}}</span>
      <span>{{equipment_information.maker}}</span>
      <span>{{equipment_information.serial_number}}</span>
      <span>{{equipment_information.model}}</span>
      <span>{{equipment_information.measurement_range}}</span>
      <span>{{equipment_information.resolution}}</span>
      <span>{{equipment_information.code}}</span>
      <span>{{equipment_information.applicant}}</span>
      <span>{{equipment_information.address}}</span>
      <span>{{equipment_information.calibration_location}}</span>
    </div>
  </div>

  <div class='calibration-result' style='min-height: 130px;'>
    <strong><span>Resultados de la calibración</span></strong>
    <br />
    <br />
    <table>
      <thead>
        <caption class='table-title' colspan='5'>
          Tabla de resultados de calibración
        </caption>
        <tr>
          <th>Temperatura de referencia</th>
          <th>Indicación del Termómetro</th>
          <th>Corrección</th>
          <th>Incertidumbre expandida K = 2</th>
        </tr>
      </thead>
      <tbody>
        {{#each calibration_results as |data|}}
          <tr>
            <td>{{data.reference_temperature}}</td>
            <td>{{data.thermometer_indication}}</td>
            <td>{{data.correction}}</td>
            <td>{{data.uncertainty}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class='enviromental-conditions'>
    <div>
      <strong><span>Condiciones ambientales</span></strong>
      <span>{{environmental_conditions.temperature}}</span>
      <span>{{environmental_conditions.humidity}}</span>
    </div>
  </div>

  <div class='calibration-method'>
    <strong><span>Método de calibración:</span></strong>
    <br />
    <br />

    <span>NI-MCIT-T-05 Instrucción para calibración de termómetros de líquido en vidrio</span>
  </div>

    
    
    {{#ifArrayEq calibration_results 11}}
      <br><br><br><br><br><br>
    {{/ifArrayEq}}

  <div class='uncertainty'>
    <strong><span>Incertidumbre de los datos</span></strong>
    <br />
    <br />
    <span>
      La incertidumbre de las medición se obtuvo multiplicando la incertidumbre estándar combinada por un factor de cobertura k = 2, con el que se alcanza un nivel de confianza de al menos 95 %. La incertidumbre estándar de la medición se determinó conforme a la Guía para la Expresión de la Incertidumbre de la Medida, BIPM-IEC-IFCC-ISO-IUPAC-IUPAP-OIML, en la cual se toma en cuenta la incertidumbre de los patrones, del método de calibración, de las condiciones durante la calibración y del equipo sujeto a calibración.
    </span>
  </div>

    

    {{#ifArrayEq calibration_results 5}}
      <br><br> <br> <br>
    {{/ifArrayEq}}

    {{#ifArrayEq calibration_results 6}}
      <br> <br> <br>
    {{/ifArrayEq}}

    {{#ifArrayEq calibration_results 7}}
      <br> <br>
    {{/ifArrayEq}}

    {{#ifArrayEq calibration_results 8}}
      <br>
    {{/ifArrayEq}}

    {{#ifArrayEq calibration_results 9}}
      <br>
    {{/ifArrayEq}}

    {{#ifArrayEq calibration_results 10}}
      <span></span>
    {{/ifArrayEq}}

  <div class="used_pattern">
    <strong><span>Descripción de patrones utilizados</span></strong>
    <br>

    <!-- tabla -->
    <table>
      <thead>
        <tr>
          <th style="background-color: #dddddd;">Equipo</th>
          <th style="background-color: #dddddd;">Código</th>
          <th style="background-color: #dddddd;">Certificado</th>
          <th style="background-color: #dddddd;">Trazabilidad</th>
          <th style="background-color: #dddddd;">Próxima calibración</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{digitalThermometer.equipment}}</td>
          <td>{{digitalThermometer.code}}</td>
          <td>{{digitalThermometer.certificate}}</td>
          <td>{{digitalThermometer.traceability}}</td>
          <td>{{digitalThermometer.next_calibration}}</td>
        </tr>

        <tr>
          <td>{{oilBath.equipment}}</td>
          <td>{{oilBath.code}}</td>
          <td>{{oilBath.certificate}}</td>
          <td>{{oilBath.traceability}}</td>
          <td>{{oilBath.next_calibration}}</td>
        </tr>
      <tbody>
        
      </tbody>
    </table>
  </div>

    {{#ltArray calibration_results 5}}
      <br>
    {{/ltArray}}

  <div class='observations'>
    <strong><span>Observaciones</span></strong>
    <span style='white-space: pre-wrap;'>
      {{observations}}
    </span>
  </div>
</div>


<div
  class='id_certificate'
  style='display: flex; justify-content: space-between; width: 90%'
>
  <strong><span>Identificación del certificado:</span></strong>
  <strong><span>{{equipment_information.certification_code}}</span></strong>
</div>