<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ORDEN DE SERVICIO</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700"
      rel="stylesheet"
      type="text/css"
    />

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 12px;
        color: #333;
      }

      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body>
    <main style="width: 100%; border: 2px solid #333;">
      <header
        style="width: 100%; display: flex; flex-direction: column; align-items: center; border-bottom: 2px solid #333;"
      >
      <div style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    ">
        <div
          style="
            display: flex;
            flex-direction: column;
            width: 220px;
            align-items: center;
            text-align: center;
          ">
          <img
            src="https://app-grupometrocal.com/development/api/images/image/metrocal.webp"
            alt="metrocal_logo"
            style="width: 50px; height: 50px"
          />
          <p style="font-weight: 600;">Metrología Consultores de Nicaragua S.A.</p>
        </div>
        <div style="display: flex; align-items: center; flex-direction: column; gap: 5px;">
          <h2 style="font-size: 1.2em;">METROLOGÍA CONSULTORES DE NICARAGUA, S.A.</h2>
          <h4>No. RUC: J0310000169420</h4>
          <p style="font-weight: 600;">
            Bello Horizonte, VI Etapa, Casa No. 135, Iglesia Pío X, 350 mts. al Este
          </p>

          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              font-weight: 600;
              gap: 8px;
            "
          >
            <a href="tel:50522490758" style="color: #333">Tel: 2249-0758</a>
            <a href="mailto:info@metrocal.co.ni" style="color: #333"
              >Email: info@metrocal.co.ni</a
            >
            <a href="https://grupometrocal.com/" style="color: #333"
              >Web: www.metrocal.co.ni</a
            >
          </div>
        </div>

        <div
          style="
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 220px;
          "
        >
          <h3>Código</h3>
          <p style="font-weight: 600;">NI-R03-MCPR-02</p>
        </div>
      </div>

      <h3
        style=" font-size: 1.2em; text-align: center; width: 100%; border-bottom: 2px solid #333; margin-bottom: 5px; width: fit-content;"
      >ORDEN DE SERVICIO</h3>
      
      </header>

      <section
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >

        <div
          style="
            display: flex;
            justify-content: space-between;
            width: 100%;
          "
        >
          <div style="width: 80%; display: flex; flex-wrap: wrap;">
            
            <h3 style=" text-align: center;width: 100%;">INFORMACIÓN GENERAL</h3>

            <div style="
                        display: flex;
                        flex-direction: column;
                        gap: 7px;
                        justify-content: center;
                        border-bottom: 2px solid #333;
                        border-top: 2px solid #333;
                        padding: 10px;
                        width: 100%;
                      "
            >
            
              <p style="display: flex; gap: 5px;">
                <strong style="width: 120px; text-align: end;">Fecha:</strong>
                <span style="border-bottom: 2px solid #333; width: 40%;"
                  >{{endDate}}</span
                >
              </p>
              <p style="display: flex; gap: 5px">
                <strong style="width: 150px; text-align: end;">Empresa:</strong>
                <span style="border-bottom: 2px solid #333; width: 100%"
                  >{{clientName}}</span
                >
              </p>
              <p style="display: flex; gap: 5px">
                <strong style="width: 150px; text-align: end;">Dirección:</strong>
                <span style="border-bottom: 2px solid #333; width: 100%"
                  >{{address}}</span
                >
              </p>
              <p style="display: flex; gap: 5px">
                <strong style="width: 120px; text-align: end;">Solicitado por:</strong>
                <span style="border-bottom: 2px solid #333; width: 60%"
                  >{{requestedBy}}</span
                >
              </p>
              <p style="display: flex; gap: 5px">
                <strong style="width: 120px; text-align: end;">Teléfono:</strong>
                <span style="border-bottom: 2px solid #333; width: 40%"
                  >{{phone}}</span
                >
              </p>
            </div>
          </div>
          <div style="width: 40%; display: flex; flex-wrap: wrap; ">
            <h3 style=" width: 100%; text-align: center;">TIPO DE SERVICIO</h3>
              
            <div
              style="
                display: flex;
                flex-direction: column;
                gap: 4px;
                justify-content: center;
                border-bottom: 2px solid #333;
                border-top: 2px solid #333;
                border-left: 2px solid #333;
                padding: 10px;
                width: 90%;
              "
            >
              <p><strong>CALIBRACIÓN</strong></p>
              <p><strong>CARACTERIZACIÓN</strong></p>
              <p><strong>CALIFICACIÓN</strong></p>
              <p><strong>MANTENIMIENTO PREVENTIVO</strong></p>
              <p><strong>MANTENIMIENTO CORRECTIVO</strong></p>
              <p><strong>PROYECTO / OTRO</strong></p>
            </div>

            <div
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-left: 2px solid #333;
                border-top: 2px solid #333;
                border-bottom: 2px solid #333;
                width: 10%;
              "
            >
              <strong style="border-bottom: 2px solid #333; text-align: center; height: 22px;">
                {{#compareArrayString resolved_services "Calibracion"}}X{{/compareArrayString}}
              </strong>
              <strong style="border-bottom: 2px solid #333; text-align: center; height: 22px;">
                {{#compareArrayString resolved_services "Caracterización"}}X{{/compareArrayString}}
              </strong>
              <strong style="border-bottom: 2px solid #333; text-align: center; height: 22px;">
                {{#compareArrayString resolved_services "Calificación"}}X{{/compareArrayString}}
              </strong>
              <strong style="border-bottom: 2px solid #333; text-align: center; height: 22px;">
                {{#compareArrayString resolved_services "Mant. Preventivo"}}X{{/compareArrayString}}
              </strong>
              <strong style="border-bottom: 2px solid #333; text-align: center; height: 22px;">
                {{#compareArrayString resolved_services "Mant. Correctivo"}}X{{/compareArrayString}}
              </strong>
              <strong style=" text-align: center; height: 22px;">
                {{#compareArrayString resolved_services "Otro"}}X{{/compareArrayString}}
              </strong>
            </div>
              
          </div>
        </div>
      </section>

      <section
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        "
      >
        <h3>DATOS DEL SERVICIO</h3>

        <div style="align-self: flex-start; width: 100%; text-align: start; border-top: 2px solid #333; border-bottom: 2px solid #333; padding: 5px;">
          <p style="display: flex;">
            <strong>Área de trabajo:</strong>
            <span style="border-bottom: 2px solid #333; width: 70%;"
              >{{work_areas}}</span
            >
          </p>
        </div>
        

        <table style="width: 100%; border-bottom: 2px solid #333; border-top: 2px solid #333;">
          <h3>DESCRIPCIÓN DEL TRABAJO</h3>
          <thead>
            <tr>
              <th>NO. COTIZACION</th>
              <th>ITEM</th>
              <th>EQUIPO</th>
              <th>CANTIDAD</th>
              <th>ESTADO</th>
              <th>OBSERVACIONES GENERALES</th>
            </tr>
          </thead>

          <tbody>
            
            {{#each equipments}}
            <tr style="text-align: center;">
              <td style="border: 2px solid #333;">{{this.quoteNumber}}</td>
              <td style="border: 2px solid #333;">{{this.index}}</td>
              <td style="border: 2px solid #333;">{{this.name}}</td>
              <td style="border: 2px solid #333;">{{this.count}}</td>
              <td style="border: 2px solid #333;">{{this.status}}</td>
              <td style="border: 2px solid #333;">{{this.review_comment}}</td>
            </tr>
          {{/each}}
        </table>
        <br>

        <div style="display: flex; width: 100%;">
            <div style="width:75%;">
              <h3 style="text-align: center; border-top: 2px solid #333;">ENTREGA DE EQUIPOS AL CLIENTE DESPUES DE EJECUTADO EL SERVICIO: ( Aplica en
                Servicios In Situ).
              </h3>

              <div style="text-align: start;">
                <p style="border-top: 2px solid #333;height: 30px;">los equipos fueron entregados al cliente funcionando adecuadamente despues de realizada las calibraciones</p>
                <p style="border-top: 2px solid #333; height: 30px;">{{comments_insitu1}}</p>
                <p style="border-top: 2px solid #333; border-bottom: 2px solid #333; height: 30px;">{{comments_insitu2}}</p>
              </div>

              <p style="padding: 10px; font-weight: 600;">Hora Inicio: <span style="border: 2px solid #333; padding: 10px 30px;">{{startTime}}</span></p>

              <div style=" display: flex; flex-direction: column; align-items: center;">
                <img src="{{client_signature}}"
                style="width: 100px; height: 100px; object-fit: contain;"
                >
                <p style="border-top: 2px solid #333; text-align: center; width: 50%; font-weight: 600;">Trabajo recibido</p>
                <strong>POR EL CLIENTE</strong>
              </div>
            </div>

            <div>
              <h3 style="text-align: center; border-top: 2px solid #333;">OBSERVACIONES PARA SERVICIOS SIN PREVIA COTIZACION
              </h3>
              
              <div style="display: flex;">
                <div style="text-align: start; width: 90%;">
                  <p style="border-top: 2px solid #333;height: 30px; border-left: 2px solid #333;">Los requisitos están adecuadamente definidos y documentados. </p>
                  <p style="border-top: 2px solid #333;height: 30px; border-left: 2px solid #333;">Nuestro laboratorio tiene la capacidad y recursos para brindar el servicio solicitado.</p>
                  <p style="border-top: 2px solid #333;height: 30px; border-left: 2px solid #333; border-bottom: 2px solid #333;">El método de calibración es capaz de satisfacer los requisitos del cliente.</p>
                </div>

                <div style="display: flex; flex-direction: column; flex-wrap: nowrap; width: 10%;">
                  <strong style="border-top: 2px solid #333; border-left: 2px solid #333; text-align: center; height: 30px;">X</strong>
                  <strong style="border-top: 2px solid #333; border-left: 2px solid #333; text-align: center; height: 30px">X</strong>
                  <strong style="border-top: 2px solid #333; border-left: 2px solid #333; text-align: center; height: 30px; border-bottom: 2px solid #333;">X</strong>
                </div>
              </div>

              <p style="padding: 10px; font-weight: 600;">Hora final: <span style="border: 2px solid #333; padding: 10px 30px;">{{endTime}}</span></p>
              
              <div style=" display: flex; flex-direction: column; align-items: center;">
                <img src="https://app-grupometrocal.com/development/api/images/image/firma-fredman-mendez.webp"

                style="width: 100px; height: 100px; object-fit: contain;"
                >
                <p style="border-top: 2px solid #333; text-align: center; width: 50%; font-weight: 600;">Trabajo realizado</p>
                <strong>POR METROLOGÍA</strong>
              </div>

              <br>
              <span>
                versión 2 Aprobado en NI-MCPR-02 v7 con fecha 2019-10-18
              </span>
            </div>
        </div>
    </main>
  </body>
</html>
