<head>

    <style>
        .content {
            padding: 20px;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        .content-1 {
            width: 100%;
            height: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            background-color: #fcfaef;
            height: 40px;
        }

        td {
            border: 1px solid black;
            padding: 1px;
            text-align: center;
        }

        .additional-table {
            width: 95%;
            border-collapse: collapse;
            margin: 15px;
        }

        .additional-table>thead>tr>th {
            border: 1px solid black;
            text-align: center;
            font-size: 0.8em;
            font-weight: bold;
        }

        .additional-table>tbody>tr>td {
            border: 1px solid black;
            text-align: center;
            font-size: 0.8em;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            margin: 15px;
        }

        .grid-item {
            text-align: left;
            font-size: 0.8em;
        }

        .grid-item-table-header {
            margin-top: 20px;
            grid-column: span 2;
            /* Esto hace que el encabezado abarque las dos columnas */
            font-weight: bold;
            /* Esto hace que el encabezado esté en negrita */
        }

        .grid-two-tables {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            margin: 15px;
        }

        .grid-four-columns {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px;
            margin-top: 25px;
        }

        .grid-item-dash-line {
            border: 1px dashed black;
            width: 100%;
            grid-column: span 4;
        }

        .grid-item-line {
            border: 1px solid black;
            width: 100%;
            grid-column: span 4;
        }

        .grid-item-address {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            font-size: 0.8em;
            font-weight: bold;
        }

        .grid-item-address>p {
            margin: 0px;
        }

        .grid-item-email-web-page {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .grid-item-phone-id {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            display: flex;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        .title-container {
            width: 100%;
            text-align: center;
            font-weight: bold;

        }

        .title {
            margin: 0px;
            margin-bottom: 5px;
        }

        .table-external>thead>tr>th {
            border: 1px solid black;
            text-align: center;
            font-weight: bold;
        }

        .head-nominal-name {
            padding: 5px;
            width: 21%;
        }

        .head-lecture-name {
            padding: 5px;
            width: 25%;
        }

        .grid-item-phone-footer {
            grid-column: span 2;
            text-align: right;
            margin-right: 30px;
            font-size: 0.8em;
        }

        .full-width {
            grid-column: span 2;
        }
    </style>
</head>

<div class="content content-1">

    <div class="grid">
        {{#if dataDA.acreedited}}
        <div class="grid-item"><b>Identificación del certificado:</b></div>
        <div class="grid-item"><b>{{dataDA.datoscabecera.codigoServicio}}</b></div>
        {{/if}}
        <div class="grid-item"><b>Código de servicio:</b></div>
        <div class="grid-item"><b>{{dataDA.datoscabecera.numeroCertificado}}</b></div>

        <div class="grid-item"><b>Fecha de calibración:</b></div>
        <div class="grid-item">{{dataNI_R01_MCIT_D_01.client.fecha}}</div>

        <div class="grid-item"><b>Fecha de emisión del certificado:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.fechaEmision}}</div>

        <div class="grid-item"><b>Objeto de calibración:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.objetoCalibracion}}</div>

        <div class="grid-item"><b>Fabricante/Marca:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.marca}}</div>

        <div class="grid-item"><b>Serie:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.serie}}</div>

        <div class="grid-item"><b>Modelo:</b></div>
        <div class="grid-item">{{dataNI_R01_MCIT_D_01.informacionEquipo.Modelo}}</div>

        <div class="grid-item"><b>Rango de medida:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.rangoMedida}}</div>

        <div class="grid-item"><b>Resolución:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.resolucion}}</div>

        <div class="grid-item"><b>Código de identificación:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.codigoIdentificacion}}</div>

        <div class="grid-item"><b>Solicitante:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.Solicitante}}</div>

        <div class="grid-item"><b>Dirección del solicitante:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.direccion}}</div>

        <div class="grid-item"><b>Lugar de calibración:</b></div>
        <div class="grid-item">{{dataDA.datoscabecera.lugarCalibracion}}</div>

        <div class="grid-item-table-header" id="tableDesc"><b>Resultados de la calibración</b></div>

    </div>

    <table class="additional-table" aria-describedby="tableDesc">
        <thead>
            <tr>
                <th style="width: 12%;">Puntos de Calibración</th>
                <th>Valor Nominal</th>
                <th>Valor Real</th>
                <th>Lectura Actual</th>
                <th>Desviación</th>
                <th style="width: 20%;">Incertidumbre Expandida <br /> k=2</th>
            </tr>
            <tr>
                <th>(mm)</th>
                <th>(μm)</th>
                <th>(mm)</th>
                <th>(μm)</th>
                <th>(mm)</th>
                <th>(μm)</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataDA.ResultadoCalibracion.dataCalibration as |data|}}
            <tr>
                <td>{{data.C}}</td>
                <td>{{data.G}}</td>
                <td>{{data.K}}</td>
                <td>{{data.O}}</td>
                <td>{{data.S}}</td>
                <td>{{data.W}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="grid-two-tables">
        {{#if dataNI_R01_MCIT_D_01.medicionParalelismoExteriores}}
        <div class="grid-item {{#unless dataNI_R01_MCIT_D_01.medicionParalelismoInteriores}}full-width{{/unless}}">
            <div class="title-container">
                <h4 class="title" id="titleTableExt">Caras de medición de exteriores</h4>
            </div>
            <table class="table-external" aria-describedby="titleTableExt">
                <thead>
                    <tr>
                        <th rowspan="2">Puntos</th>
                        <th class="head-nominal-name">Valor nominal</th>
                        <th class="head-lecture-name">Lectura actual</th>
                        <th>Desviación</th>
                    </tr>
                    <tr>
                        <th>(mm)</th>
                        <th>(mm)</th>
                        <th>(μm)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dataNI_R01_MCIT_D_01.dataCalibrationExterior as |data|}}
                    {{#if data.position }}
                    <tr>
                        <td>Superior</td>
                        <td rowspan="2">{{data.E}}</td>
                        <td>{{data.H}}</td>
                        <td rowspan="2">{{data.L}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>Inferior</td>
                        <td>{{data.H}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>

            </table>
        </div>
        {{/if}}

        {{#if dataNI_R01_MCIT_D_01.medicionParalelismoInteriores}}
        <div class="grid-item {{#unless dataNI_R01_MCIT_D_01.medicionParalelismoExteriores}}full-width{{/unless}}">
            <div class="title-container">
                <h4 class="title" id="idTableInt">Caras de medición de interiores</h4>
            </div>
            <table class="table-external" aria-describedby="idTableInt">
                <thead>
                    <tr>
                        <th rowspan="2">Puntos</th>
                        <th class="head-nominal-name">Valor nominal</th>
                        <th class="head-lecture-name">Lectura actual</th>
                        <th>Desviación</th>
                    </tr>
                    <tr>
                        <th>(mm)</th>
                        <th>(mm)</th>
                        <th>(μm)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dataNI_R01_MCIT_D_01.dataCalibrationInterior as |data |}}
                    {{#if data.position }}
                    <tr>
                        <td>Superior</td>
                        <td rowspan="2">{{data.T}}</td>
                        <td>{{data.W}}</td>
                        <td rowspan="2">{{data.Z}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>Inferior</td>
                        <td>{{data.W}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>

        </div>
        {{/if}}

    </div>

</div>

<div class="content">


    <div class="grid">

        <div class="grid-item"><b>Identificación del certificado:</b></div>
        <div class="grid-item"><b>{{dataDA.datoscabecera.numeroCertificado}}</b></div>

    </div>

    <div class="ambient-conditions">
        <div class="grid-item" style="margin-bottom: 5px;"><b>Condiciones ambientales</b></div>
        <div class="grid-item">Temperatura: ( {{dataDA.condicionesAmbientales.Temperatura}} ±
            {{dataDA.condicionesAmbientales.Estabilizacion}} ) °C</div>
        <div class="grid-item">Humedad relativa: ( {{dataDA.condicionesAmbientales.Humedad}} ±
            {{dataDA.condicionesAmbientales.Tiempo}} ) % HR</div>
    </div>
    <br>
    <div class="ambient-conditions">
        <div class="grid-item"><b>Método de calibración</b></div>
        <div class="grid-item">
            <p style="margin-top: 5px;">Las pruebas se realizaron según NI-MCIT-D-01 Instrucción para calibración de
                calibradores universales.</p>
        </div>
    </div>

    <div class="ambient-conditions">
        <div class="grid-item"><b>Incertidumbre de los datos</b></div>
        <div class="grid-item">
            <p style="margin-top: 5px;">La incertidumbre de las medición se obtuvo multiplicando la incertidumbre
                estándar
                combinada por un factor de cobertura k = 2, con el que se alcanza un nivel de confianza de
                aproximadamente el
                95 %. La incertidumbre estándar de la medición se determinó conforme a Guía para la Expresión de la
                Incertidumbre de la Medida, BIPM-IEC-IFCC-ISO-IUPAC-IUPAP-OIML, en la cual se toma en cuenta la
                incertidumbre
                de los patrones, del método de calibración, de los factores de influencia durante la calibración y
                del equipo
                sujeto a calibración.</p>
        </div>
    </div>

    <div class="title-table-flex" style="margin-bottom: 5px;">
        <div class="grid-item"><b>Descripción de patrones utilizados</b></div>
    </div>
    <table class="additional-table" aria-describedby="tableDesc">
        <thead>
            <tr>
                <th style="width: 32%;">Equipo</th>
                <th>Código</th>
                <th>Certificado</th>
                <th>Trazabilidad</th>
                <th>Próxima Calibración</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataNI_R01_MCIT_D_01.descipcioPatrines as |data|}}
            <tr>
                <td>{{data.equipment}}</td>
                <td>{{data.code}}</td>
                <td>{{data.certificate}}</td>
                <td>{{data.traceability}}</td>
                <td>{{data.next_calibration}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="ambient-conditions">
        <div class="grid-item"><b>Observaciones</b></div>
        <div class="grid-item">
            <p style="margin-top: 5px; margin-bottom: 0px;">Es responsabilidad del encargado del instrumento
                establecer la
                frecuencia del
                servicio de calibración.</p>
            <p style="margin: 0px; margin-top: 5px;">La corrección corresponde al valor del patrón menos las
                indicación del
                equipo.
            </p>
            <p style="margin: 0px; margin-top: 5px;">La indicación del equipo corresponde al promedio de 3
                mediciones en
                cada punto de
                calibración.
            </p>
            <p style="margin: 0px; margin-top: 5px;">Los resultados emitidos en este certificado corresponden
                únicamente al
                objeto
                calibrado y a las magnitudes especificadas al momento de realizar el servicio.
            </p>
            <p style="margin: 0px; margin-top: 5px;">Este certificado de calibración no debe ser reproducido sin la
                aprobación del laboratorio, excepto cuando se reproduce en su totalidad.
            </p>
        </div>
    </div>
</div>