<head>

    <style>
        .content {
            padding: 20px;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        .content-1 {
            width: 100%;
            height: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            background-color: #fcfaef;
            height: 40px;
        }

        td {
            border: 1px solid black;
            padding: 1px;
            text-align: center;
        }

        .additional-table {
            width: 95%;
            border-collapse: collapse;
            margin: 15px;
        }

        .additional-table>thead>tr>th {
            border: 1px solid black;
            text-align: center;
            font-size: 0.8em;
            font-weight: bold;
        }

        .additional-table>tbody>tr>td {
            border: 1px solid black;
            text-align: center;
            font-size: 0.8em;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            margin: 15px;
        }

        .grid-item {
            text-align: left;
            font-size: 0.8em;
        }

        .grid-item-table-header {
            margin-top: 20px;
            grid-column: span 2;
            /* Esto hace que el encabezado abarque las dos columnas */
            font-weight: bold;
            /* Esto hace que el encabezado esté en negrita */
        }

        .grid-two-tables {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            margin: 15px;
        }

        .grid-four-columns {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px;
            margin-top: 25px;
        }

        .grid-item-dash-line {
            border: 1px dashed black;
            width: 100%;
            grid-column: span 4;
        }

        .grid-item-line {
            border: 1px solid black;
            width: 100%;
            grid-column: span 4;
        }

        .grid-item-address {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            font-size: 0.8em;
            font-weight: bold;
        }

        .grid-item-address>p {
            margin: 0px;
        }

        .grid-item-email-web-page {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .grid-item-phone-id {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            display: flex;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        .title-container {
            width: 100%;
            text-align: center;
            font-weight: bold;

        }

        .title {
            margin: 0px;
            margin-bottom: 5px;
        }

        .table-external>thead>tr>th {
            border: 1px solid black;
            text-align: center;
            font-weight: bold;
        }

        .head-nominal-name {
            padding: 5px;
            width: 21%;
        }

        .head-lecture-name {
            padding: 5px;
            width: 25%;
        }

        .grid-item-phone-footer {
            grid-column: span 2;
            text-align: right;
            margin-right: 30px;
            font-size: 0.8em;
        }

        .full-width {
            grid-column: span 2;
        }
    </style>
</head>

<div class="content content-1">

    <div class="grid">
        {{#if dataDA.acreedited}}
        <div class="grid-item"><b>Identificación del certificado:</b></div>
        <div class="grid-item"><b>{{certificate.equipment_info.certification_code}}</b></div>
        {{/if}}
        <div class="grid-item"><b>Código de servicio:</b></div>
        <div class="grid-item"><b>{{certificate.equipment-information.service_code}}</b></div>

        <div class="grid-item"><b>Fecha de calibración:</b></div>
        <div class="grid-item">{{certificate.equipment-information.certificate_issue_date}}</div>

        <div class="grid-item"><b>Fecha de emisión del certificado:</b></div>
        <div class="grid-item">{{certificate.equipment-information.calibration_date}}</div>

        <div class="grid-item"><b>Objeto de calibración:</b></div>
        <div class="grid-item">{{certificate.equipment-information.object_calibrated}}</div>

        <div class="grid-item"><b>Fabricante/Marca:</b></div>
        <div class="grid-item">{{certificate.equipment-information.maker}}</div>

        <div class="grid-item"><b>Serie:</b></div>
        <div class="grid-item">{{certificate.equipment-information.serial_number}}</div>

        <div class="grid-item"><b>Modelo:</b></div>
        <div class="grid-item">{{certificate.equipment-information.model}}</div>

        <div class="grid-item"><b>Rango de medida:</b></div>
        <div class="grid-item">{{certificate.equipment-information.measurement_range}}</div>

        <div class="grid-item"><b>Resolución:</b></div>
        <div class="grid-item">{{certificate.equipment-information.resolution}}</div>

        <div class="grid-item"><b>Código de identificación:</b></div>
        <div class="grid-item">{{certificate.equipment-information.code}}</div>

        <div class="grid-item"><b>Solicitante:</b></div>
        <div class="grid-item">{{certificate.equipment-information.applicant}}</div>

        <div class="grid-item"><b>Dirección del solicitante:</b></div>
        <div class="grid-item">{{certificate.equipment-information.address}}</div>

        <div class="grid-item"><b>Lugar de calibración:</b></div>
        <div class="grid-item">{{certificate.equipment-information.calibratioLocation}}</div>

        <div class="grid-item-table-header" id="tableDesc"><b>Resultados de la calibración</b></div>

    </div>
    <div>
        <div class="grid-item-table-header" id="tableDesc"><b>Tabla de resultados de la calibración</b></div>
    </div>

    <table class="additional-table" aria-describedby="tableDesc">
        <thead>
            <tr>
                <th style="width: 12%;">Masa de referencia</th>
                <th>Indicación del equipo</th>
                <th>Error</th>
                <th>Repetibilidad</th>
                <th>Excentricidad máxima</th>
                <th style="width: 20%;">Incertidumbre expandidaa <br /> k=2</th>
            </tr> 
        </thead>
        <tbody>
            {{#each certificate.calibration_reults.result_test as |data|}}
            <tr>
                <td>{{referentMass}}</td>
                <td>{{indicationEquipment}}</td>
                <td>{{error}}</td>
                <td>{{repetibilidad}}</td>
                <td>{{eccentricity}}</td>
                <td>{{incertidumbre}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="grid-two-tables">
        <table class="additional-table" aria-describedby="tableDesc">
            <thead>
                <tr>
                    <th style="width: 12%;">Masa de referencia</th>
                    <th>Indicación del equipo</th>
                    <th>Error</th>
                    <th>Repetibilidad</th>
                    <th>Excentricidad máxima</th>
                    <th style="width: 20%;">Incertidumbre expandidaa <br /> k=2</th>
                </tr>
            </thead>
            <tbody>
                {{#each certificate.calibration_reults.result_tests_lb as |data|}}
                <tr>
                    <td>{{referentMassLBKG}}</td>
                    <td>{{indicationEquipmentLBKG}}</td>
                    <td>{{errorLBKG}}</td>
                    <td>{{repetibilidadLBKG}}</td>
                    <td>{{eccentricityLBKG}}</td>
                    <td>{{incertidumbreLBKG}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        </div>


    </div>

</div>

<div class="content">


    <div class="grid">

        <div class="grid-item"><b>Identificación del certificado:</b></div>
        <div class="grid-item"><b>{{dataDA.datoscabecera.numeroCertificado}}</b></div>

    </div>

    <div class="ambient-conditions">
        <div class="grid-item" style="margin-bottom: 5px;"><b>Condiciones ambientales</b></div>
        <div class="grid-item">Temperatura: ( {{certificate.calibratioResult.temperatura1}} ±
            {{certificate.calibratioResult.temperatura2}} ) °C</div>
        <div class="grid-item">Hum R: ( {{certificate.calibratioResult.humedad1}} ±
            {{certificate.calibratioResult.humedad2}} ) % HR</div>
            <div class="grid-item">Presion: ( {{certificate.calibratioResult.presion1: presion1}} ±
                {{certificate.calibratioResult.presion2}} ) % HR</div>
    </div>
    <br>
    <div class="ambient-conditions">
        <div class="grid-item"><b>Método de calibración</b></div>
        <div class="grid-item">
            <p style="margin-top: 5px;">Las pruebas se realizaron según NI-MCIT-B-01 Instrucción para calibración de
                calibradores universales.</p>
        </div>
    </div>

    <div class="ambient-conditions">
        <div class="grid-item"><b>Incertidumbre de los datos</b></div>
        <div class="grid-item">
            <p style="margin-top: 5px;">La incertidumbre de las medición se obtuvo multiplicando la incertidumbre
                estándar
                combinada por un factor de cobertura k = 2, con el que se alcanza un nivel de confianza de
                aproximadamente el
                95 %. La incertidumbre estándar de la medición se determinó conforme a Guía para la Expresión de la
                Incertidumbre de la Medida, BIPM-IEC-IFCC-ISO-IUPAC-IUPAP-OIML, en la cual se toma en cuenta la
                incertidumbre
                de los patrones, del método de calibración, de los factores de influencia durante la calibración y
                del equipo
                sujeto a calibración.</p>
        </div>
    </div>

    <div class="title-table-flex" style="margin-bottom: 5px;">
        <div class="grid-item"><b>Descripción de patrones utilizados</b></div>
    </div>
    <table class="additional-table" aria-describedby="tableDesc">
        <thead>
            <tr>
                <th style="width: 32%;">Equipo</th>
                <th>Código</th>
                <th>Certificado</th>
                <th>Trazabilidad</th>
                <th>Próxima Calibración</th>
            </tr>
        </thead>
        <tbody>
            {{#each certificate.description_pattern as |data|}}
            <tr>
                <td>{{data.equipment}}</td>
                <td>{{data.code}}</td>
                <td>{{data.certificate}}</td>
                <td>{{data.traceability}}</td>
                <td>{{data.next_calibration}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="ambient-conditions">
        <div class="grid-item"><b>Observaciones</b></div>
        <div class="grid-item">
            <p style="margin-top: 5px; margin-bottom: 0px;">Es responsabilidad del encargado del instrumento
                establecer la
                frecuencia del
                servicio de calibración.</p>
            <p style="margin: 0px; margin-top: 5px;">La corrección corresponde al valor del patrón menos las
                indicación del
                equipo.
            </p>
            <p style="margin: 0px; margin-top: 5px;">La indicación del equipo corresponde al promedio de 3
                mediciones en
                cada punto de
                calibración.
            </p>
            <p style="margin: 0px; margin-top: 5px;">Los resultados emitidos en este certificado corresponden
                únicamente al
                objeto
                calibrado y a las magnitudes especificadas al momento de realizar el servicio.
            </p>
            <p style="margin: 0px; margin-top: 5px;">Este certificado de calibración no debe ser reproducido sin la
                aprobación del laboratorio, excepto cuando se reproduce en su totalidad.
            </p>
        </div>
    </div>
</div>